body{
  background: #262126;
}

.ap-global-container--header{
  position: fixed;
  top: 0%;
  left: 20%;  
}

.ap-global-container--content{
  position: absolute;
  top: 10%;
  left: 23%;
}

.ap-global-container--arrowslider{
  position: absolute;
  right: 3%;
  top: 11%;
}