.ap-movie-card{
    margin: 10px;
    height: 278px;
    width: 185px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ap-movie-card--image:hover{
    cursor: pointer;
}
.ap-movie-card--wrapper{
    
}

.ap-movie-card--icon-section{    
    display: flex;    
    justify-content: flex-end;
    width: 185px;
    height: 50px;
    background: rgba(255, 255, 255, 1);  
}

.ap-movie-card--icon{
    color: black;
    font-size: 35px;
    margin-right: 10px;
    margin-top: 5px;
}